<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .redFont {color:red;}
      .redBorder{border-color:red;border-style: solid;}
      .greenBorder{border-color:green;border-style: solid;}
      .greenFont {color:green;}
      .comment { font-size: 0.9em; font-style: italic; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{textBoxBorder}}"
             ng-model="lunch">
             <p class="comment">empty items are not considered. So for the example "item 1, item2, ,item3, " the number of items is 3 </p>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="showMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageFont}}">
           {{message}}
         </div>
   </div>

</body>
</html>
